* {
    box-sizing: border-box;
    color: rgba(232, 234, 237, 1);
    background-color: rgba(32, 33, 36, 1);
    font-family: 'Fredoka One', 'Courier New', Courier, monospace;
}


body {
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.header {
    display: flex;
    column-gap: 2rem;
}

.header-text {
    background: linear-gradient(90deg,
     rgba(214,123,3,1) 10%,
      rgba(214,141,3,1) 20%,
       rgba(249,235,22,1) 30%,
        rgba(109,161,65,1) 40%,
         rgba(56,196,152,1) 50%,
          rgba(30,84,190,1) 60%,
           rgba(149,28,204,1) 70%,
            rgba(201,37,137,1) 80%,
             rgba(219,13,83,1) 90%,
              rgba(255,0,0,1) 100%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
    font-size: 5rem;
}


.sketch-container {
    height: 50rem;
    max-width: 75rem;
    border: .2rem solid rgba(232, 234, 237, 1);
    border-radius: .5rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 7rem;
    padding: 2rem;
    column-gap: 4rem;

}

.grid-container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.grid {
    display: flex;
    background-color: white;
    border: .1rem solid rgba(232, 234, 237, .3);
    height: 40rem;
    width: 40rem;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.row {
    background-color: white;
    color: rgba(32, 33, 36, 1);
    flex: 1;
    border: 1px solid rgba(232, 234, 237, .3);
    cursor: crosshair;
}

.ui-panel {
    display: flex;
    flex-direction: column;
    /*border: .1rem solid rgba(232, 234, 237, .5); */
    flex: 1;
}

.sketch-subheader {
    color:rgba(232, 234, 237, .5);
    margin-bottom: .5rem;
}

#color-pick-pop {
    padding: 0rem 0.125rem;
    margin: 0rem;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#color-pick-pop::-webkit-color-swatch {
    border: none;
    border-radius: 3.125rem;
}

.color-icons {
    display: flex;
    justify-content: flex-start;
    gap: .7rem;
    margin-bottom: 2rem;
}

.color-pen, .color-background {
    border: .3rem solid rgba(32, 33, 36, 1);
    border-radius: 3.125rem;
    height: 40px;
    width: 40px;
    /*box-shadow: 0 0 0 2px rgba(232, 234, 237, 1);*/
}

.color-pen:hover, .color-background:hover {
    cursor: pointer;
}

#eraser {
    height: 40px;
    width: 40px;  
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    background: rgba(232, 234, 237, 1);
    outline: none;
    opacity: .7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    width: 50%;
    height: .8rem;
    border-radius: 3.125rem;
    margin-bottom: .7rem;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 1.5rem; 
    height: 1.5rem;
    border-radius: 3.125rem; 
    background: rgba(90, 211, 140); 
    cursor: pointer; 
  }
  
  .slider::-moz-range-thumb { /*for mozilla browser */
    width: 1.5rem; 
    height: 1.5rem;
    border-radius: 3.125rem;  
    background: rgba(90, 211, 140); 
    cursor: pointer; 
  }

#white-background {
    background-color: rgba(255, 255, 255, 1);
}

#red-background {
    background-color: rgba(219,13,83,1);
}

#green-background {
    background-color: rgba(109,161,65,1);
}

#blue-background {
    background-color: rgba(30,84,190,1);
}

#rainbow-pen {
    background: linear-gradient(90deg,
     rgba(214,123,3,1) 10%,
      rgba(214,141,3,1) 20%,
       #f9eb16 30%,
        rgba(109,161,65,1) 40%,
         rgba(56,196,152,1) 50%,
          rgba(30,84,190,1) 60%,
           rgba(149,28,204,1) 70%,
            rgba(201,37,137,1) 80%,
             rgba(219,13,83,1) 90%,
              rgba(255,0,0,1) 100%);
}

.resol-feature {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    gap: .3rem;
}

.resol-output {
    background-color: rgba(232, 234, 237, 1);
    border-radius: .2rem;
    color: rgba(32, 33, 36, 1);
    padding: .3rem;
    width: 5rem;
    text-align: center;;
}

button {
    border: .1rem solid rgba(232, 234, 237, 1);
    padding: .7rem;
    cursor: pointer;
}

button:hover {
    background-color: rgba(232, 234, 237, .3);
}

.color-picker {
    display: flex;
    gap: .7rem;
    align-items: center;
    margin-bottom: 2rem;
}